* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

.m-15 {
    margin: 15px;
}

.p-0 {
    padding: 0;
}

.p-tb-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.p-20 {
    padding: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-tb-75{
    margin-top: 75px;
    margin-bottom: 75px;
}

.f-s-18 {
    font-size: 18px;
}

.cursor-p {
    cursor: pointer;
}

.index-wrapper1 {
    background: url("../images/pexels-photo-29781.png") no-repeat;
    background-size: 100%;
    height: 100%;
    padding-bottom: 15px;
    position: relative;
}

.index-wrapper2 {
    margin-top: 75px;
}

.logo img{
    width: 137.5px;
}

.sign-in {
    border-bottom: 1px solid #78d2ff;
    color: #78d2ff;
    font-size: 14px;
    font-family: "Lato",sans-serif;
    padding-bottom: 10px;
}

.sign-in:hover {
    color: #78d2ff;
    text-decoration: none;
}

.heading {
    color: white;
    font-family: Raleway;
    font-size: 70px;
    font-weight: 300;
}

.heading strong {
    color: rgb(51, 187, 255);
}

.file-selector {
    position: relative;
    width: 100%;
}

.upload-file {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 1000;
}

.upload-file + input[type=file] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

@media (max-width: 992px) {
    .heading {
        display: none;
    }
}

.m-tb-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-box {
    background-color: white;
    box-shadow: 5px 10px 10px #000;
    color:  #000;
    margin: 15px auto -5px;
    padding: 10px 60px 30px;
    width: 500px;

}

input.ng-invalid.ng-dirty {
    border-bottom: 2px solid red;
    transition: .5s;
}

input.ng-valid.ng-dirty {
    border-bottom: 2px solid green;
    transition: .5s;
}

.inp-txt-box {
    border-left: none;
    border-top: none;
    border-right: none;
    margin-bottom: 5px;
    padding: 10px 10px 10px 0;
    width: 100%;
}

.inp-sub-box {
    color: forestgreen;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px 10px 10px 0;
    width: 100%;
}

.inp-sub-box:hover {
    color: forestgreen;
}

.errors {
    color: red;
    margin-bottom: 5px;
}

.btn-tran:hover {
    background-color: forestgreen;
    color: white;
    transition: .5s;
}

.terms-and-cond {
    padding: 10px 0;
}

.remb-me {
    text-align: left;
    padding: 10px 15px;
}

.remb-me + *{
    text-align: right;
    padding: 10px 15px;
}

.terms-and-cond input,
.remb-me input {
    vertical-align: top;
}

.signin-box,
.login-box {
    background-color: forestgreen;
    box-shadow: 5px 10px 10px #000;
    display: inline-block;
    color: white;
    padding: 15px 0;
    width: 500px;
}

.signin-box:hover,
.login-box:hover {
    color: white;
}

.login-wrapper,
.signup-wrapper {
    background-color: lightgrey;
    overflow-x: hidden;
    height: 100vh;
}

.package-modal {
    background-color: rgba(0,0,0,.5);
    padding-top: 150px;

}

.package-dialog {
    width: 550px;
}

.package-body {
    background-color: transparent;
}

.packages {
    background-color: #f6f6f6;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.packages:hover {
    transform: scale(1.1);
    z-index: 1;
}

.package-btn a {
    background-color: #78d2ff;
    border: 1px solid #e1e1e1;
    color: white;
    font-weight: 200;
    margin-bottom: 10px;
}

.packages.disabled:hover {
    transform: none;
}

.packages.disabled,
.packages.disabled .package-btn a {
    opacity: .5;
    cursor: not-allowed;
}

.package-header {
    background-color: #6772e5;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}

.package-list {
    padding: 10px;
}

.package-list span {
    color: red;
}

.package-list ul li {
    border-bottom: 1px solid #e1e1e1;
    padding: 5px 0;
}

.api-gene-wrapper {
    background: url("../images/pexels-photo-29781.png") no-repeat;
    background-size: 100%;
    height: 100vh;
    padding-bottom: 15px;
}

.api-box {
    margin-top: 50px;
}

.api-label h1 {
    color: white;
    font-family: Raleway;
    font-size: 70px;
    font-weight: 500;
}

.api-key input {
    paddinG: 20px 20px 19px;
}

.api-btn {
    margin-top: 20px;
}

.btn-tran:hover {
    background-color: forestgreen;
    color: white;
    transition: .5s;
}

.not-matched {
    border-bottom: 2px solid red !important;
    transition: .5s;
}

.user-modal {
    margin-top: 15px;
    position: relative;
}

.user-img {
    position: absolute;
    right: 0;
}

.user-img img {
    width: 45px;
}

.user-options {
    display: none;
    width: 250px;
}

.options-tooltip {
    color: rgb(51, 187, 255);
    font-size: 18px;
    position: absolute;
    top: 42px;
    right: 14px;
}

.user-options ul {
    background-color: rgb(51, 187, 255);
    border-radius: 5px;
    padding: 15px 25px;
    position: absolute;
    top: 55px;
    right: 5px;
    z-index: 1000;
}

.user-options ul li {
    margin: 5px 0;
}

.user-options ul li a {
    color: white;
}

.user-options ul li a:hover {
    text-decoration: none;
}